<?xml version="1.0"?>
<config>
    <modules>
        <Trackingmore_Detrack>
            <version>1.0.5</version>
        </Trackingmore_Detrack>
    </modules>
    <frontend>
        <routers>
            <detrack>
                <use>standard</use>
                <args>
                    <module>Trackingmore_Detrack</module>
                    <frontName>detrack</frontName>
                </args>
            </detrack>
        </routers>
        <layout>
            <updates>
                <detrack>
                    <file>detrack.xml</file>
                </detrack>
                <detrack_unsubscribe>
                    <file>detrackunsubscribe.xml</file>
                </detrack_unsubscribe>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <trackingmoredetrackvalidation>
                <class>Trackingmore_Detrack_Model</class>
            </trackingmoredetrackvalidation>
            <detrack>
                <class>Trackingmore_Detrack_Model</class>
                <resourceModel>detrack_resource</resourceModel>
            </detrack>
            <detrackcron>
                <class>Trackingmore_Detrack_Model</class>
                <resourceModel>detrack_resource</resourceModel>
            </detrackcron>
            <detrack_resource>
                <class>Trackingmore_Detrack_Model_Resource</class>
                <entities>
                    <track>
                        <table>tr_tracks</table>
                    </track>
                    <trackunsubscribed>
                        <table>tr_tracks_unsubscribed</table>
                    </trackunsubscribed>
                    <trackdetail>
                        <table>tr_track_details</table>
                    </trackdetail>
                    <carrier>
                        <table>tr_carriers</table>
                    </carrier>
                    <setting>
                        <table>tr_settings</table>
                    </setting>
                    <notification_setting>
                        <table>tr_notification_settings</table>
                    </notification_setting>
                    <notification_template>
                        <table>tr_notification_templates</table>
                    </notification_template>
                </entities>
            </detrack_resource>
            <status>
                <class>Trackingmore_Track_Model</class>
            </status>
            <cron_job>
                <class>Trackingmore_Track_Model</class>
            </cron_job>
            <notification>
                <class>Trackingmore_Track_Model</class>
            </notification>
            <sales>
                <rewrite>
                    <order_shipment>Trackingmore_Detrack_Model_Order_Shipment</order_shipment>
                </rewrite>
            </sales>
            <core>
                <rewrite>
                    <translate>Trackingmore_Detrack_Model_Translate</translate>
                </rewrite>
            </core>
        </models>
        <helpers>
            <detrack>
                <class>Trackingmore_Detrack_Helper</class>
            </detrack>
        </helpers>
        <blocks>
            <detrack>
                <class>Trackingmore_Detrack_Block</class>
                <trackings>
                    <class>Trackingmore_Detrack_Block_Trackings</class>
                </trackings>
            </detrack>
            <detrack_adminhtml>
                <class>Trackingmore_Detrack_Block_Adminhtml</class>
            </detrack_adminhtml>
            <adminhtml>
                <rewrite>
                   <sales_order_shipment_view_tracking>Trackingmore_Detrack_Block_Adminhtml_Sales_Order_Shipment_View_Tracking</sales_order_shipment_view_tracking>
                    <sales_order_shipment_create_tracking>Trackingmore_Detrack_Block_Adminhtml_Sales_Order_Shipment_Create_Tracking</sales_order_shipment_create_tracking>
					<sales_order_invoice_create_tracking>Trackingmore_Detrack_Block_Adminhtml_Sales_Order_Invoice_Create_Tracking</sales_order_invoice_create_tracking>
                </rewrite>
            </adminhtml>
        </blocks>
        <resources>
            <detrack_setup>
                <setup>
                    <module>Trackingmore_Detrack</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </detrack_setup>
            <detrack_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </detrack_write>
            <detrack_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </detrack_read>
        </resources>
        <events>
            <sales_order_shipment_track_save_after>
                <observers>
                    <tr_track_save>
                        <type>singleton</type>
                        <class>detrack/observer</class>
                        <method>afterShipmentSaved</method>
                    </tr_track_save>
                </observers>
            </sales_order_shipment_track_save_after>
            <controller_action_predispatch_shipping_tracking_popup>
                <observers>
                    <tr_tracking_popup_predispatch>
                        <type>singleton</type>
                        <class>detrack/observer</class>
                        <method>trackingPopupPreDispatch</method>
                    </tr_tracking_popup_predispatch>
                </observers>
            </controller_action_predispatch_shipping_tracking_popup>
            <admin_system_config_changed_section_tr_section_carriers>
                <observers>
                    <module_name>
                        <type>singleton</type>
                        <class>detrack/observer</class>
                        <method>saveCarriers</method>
                    </module_name>
                </observers>
            </admin_system_config_changed_section_tr_section_carriers>
        </events>
        
    </global>
 
    <adminhtml>
        <layout>
            <updates>
                <detrack>
                    <file>detrack.xml</file>
                </detrack>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <tr_section_setttings>
            <crosssell>
                <cross_sell_page>1</cross_sell_page>
                <cross_sell_page_items>6</cross_sell_page_items>
            </crosssell>
        </tr_section_setttings>
    </default>
</config>